<% is_following = current_user.follows?(user) %>
<% if is_following %>
  <% follow_state = "followed" %>
<% else %>
  <% follow_state = "unfollowed" %>
<% end %>

<form action="<%= user_follow_url(user) %>" method="POST">
  <%= render "shared/auth_token" %>

  <% if is_following %>
    <input type="hidden" name="_method" value="DELETE">
  <% end %>
  
  <button
    class="follow-toggle"
    data-user-id="<%= user.id %>"
    data-follow-state="<%= follow_state %>"
  >
    <%= is_following ? "Unfollow!" : "Follow!" %>
  </button>
</form>
